<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xmlns="http://www.springframework.org/schema/beans"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd-->
        <!--http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">-->

    <!--<context:property-placeholder/>-->

    <!--&lt;!&ndash; tomcat jdbc , 本项目的数据源 &ndash;&gt;-->
    <!--<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"-->
          <!--destroy-method="close">-->
        <!--<property name="driverClassName" value="${jdbc.driver}" />-->
        <!--<property name="url" value="${jdbc.url}" />-->
        <!--<property name="username" value="${jdbc.username}" />-->
        <!--<property name="password" value="${jdbc.password}" />-->
        <!--&lt;!&ndash;maxActive: 最大连接数量&ndash;&gt;-->
        <!--<property name="maxActive" value="300" />-->
        <!--&lt;!&ndash;maxIdle: 最大空闲连接&ndash;&gt;-->
        <!--<property name="maxIdle" value="20" />-->
        <!--&lt;!&ndash;maxWait: 超时等待时间以毫秒为单位 1000等于1秒&ndash;&gt;-->
        <!--<property name="maxWait" value="3000" />-->
        <!--<property name="validationQuery" value="select 1" />-->
        <!--<property name="validationInterval" value="30000" />-->
        <!--<property name="testOnBorrow" value="true" />-->
        <!--<property name="testWhileIdle" value="true" />-->
    <!--</bean>-->

    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>-->
        <!--<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>-->
    <!--</bean>-->

    <!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">-->
        <!--<constructor-arg index="0" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <!--<context:component-scan base-package="com.mitong.fangdeniu.dao"/>-->
<!--</beans>-->